APP_NAME=iot-platform
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=iot_platform
DB_USERNAME=iot
DB_PASSWORD=iot123456
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=redis123456
REDIS_PORT=6379
REDIS_DB=0
